<div class="row">
  <div class="large-12 columns">
    <div class="superman panel callout radius center">
      <h1>Welcome to Snippets</h1>
      <h2>It's a little ostentatious, but useful for important content.</h2>
      <%= link_to "Sign up now", "", class: "button round" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3 class="midrow">View Snippets as Guest User</h3>
    <h2 class="left">Browse and view snippets as a guest and Sign up later</h2>
    <p><%= link_to "Browser Snippet Listing", snippets_path , class: "button round small" %></p>
  </div>
  <div class="large-4 columns">
    <h3 class="midrow">View Snippets as Guest User</h3>
    <h2 class="left">Browse and view snippets as a guest and Sign up later</h2>
    <p><%= link_to "Browser Snippet Listing", "", class: "button round small" %></p>
  </div>
  <div class="large-4 columns">
    <h3 class="midrow">View Snippets as Guest User</h3>
    <h2 class="left">Browse and view snippets as a guest and Sign up later</h2>
    <p><%= link_to "Browser Snippet Listing", "", class: "button round small" %></p>
  </div>
</div>
